*{margin:0;padding:0;font-family:Arial}
body{background:black;color:white;overflow-x:hidden}

canvas{
 position:fixed;
 top:0;left:0;
 z-index:-1;
}

nav{
 display:flex;
 justify-content:space-between;
 padding:20px 60px;
 background:rgba(0,0,0,0.6);
 backdrop-filter:blur(10px);
}

.logo{
 font-size:30px;
 color:red;
 font-weight:bold;
}
.logo span{color:white}

nav ul{display:flex;gap:30px;list-style:none}
nav li{
 cursor:pointer;
 transition:.3s;
}
nav li:hover{
 color:red;
 transform:scale(1.1);
}

.hero{
 height:90vh;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 text-align:center;
}

.hero h1{
 font-size:70px;
 color:red;
 text-shadow:0 0 20px red;
}
.hero button{
 margin-top:20px;
 padding:15px 40px;
 background:red;
 color:white;
 border:none;
 font-size:16px;
 cursor:pointer;
 transition:.3s;
}
.hero button:hover{
 transform:scale(1.1);
 box-shadow:0 0 25px red;
}

.card{
 margin:120px auto;
 width:70%;
 padding:60px;
 background:rgba(15,15,15,0.7);
 backdrop-filter:blur(15px);
 border-radius:20px;
 transition:.4s;
 transform-style:preserve-3d;
}
.card:hover{
 transform:rotateX(6deg) rotateY(-6deg) scale(1.05);
 box-shadow:0 0 50px red;
}

.card h2{
 color:red;
 margin-bottom:10px;
}
